<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">USER</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">SETTINGS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">INSIGHTS</a>
        </li>
    </ul>
</nav>

<div class="footer">
    <p>Website design and user interface are trademarks of Doppler Automotive, Inc. © 2006-2021 (Version
        2021-01-11T13:57:59-06:00)</p>
</div>