<div class="row">
    <div class="col-sm-4" *ngFor="let user of usersList">
        <div class="card">
            <h5 class="card-header">{{user.name}}</h5>
            <div class="card-body">
                <p class="card-text">{{user.id}}</p>
                <hr>
                <p class="card-text">{{user.code}}</p>
                <hr>
                <p class="card-text">{{user.status}}</p>
                <hr>
                <p class="card-text">{{user.address}}</p>
            </div>
        </div>
    </div>
</div>